.contact-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h2,
.contact-container p,
.contact-container li {
  color: #000;
}

.dark-mode .contact-container h2,
.dark-mode .contact-container p,
.dark-mode .contact-container li {
  color: #000000; 
}
