.app-container {
  font-family: 'Arial, sans-serif';
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #282c34;
  color: #fff;
}

.toggle-button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
  }
  
  nav a {
    color: #000000; 
    margin: 0 15px; 
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000000; 
    text-decoration: underline; 
  }
  
  .dark-mode nav a {
    color: #fff; 
  }
  

.main-content {
    display: flex;
    justify-content: space-between; 
  }
  
  .blog-container {
    flex: 3; 
    margin-right: 20px;
  }
  
  .news-container {
    flex: 1;
    max-width: 330px; 
  }
  